[Unit]
Description=Reverse SSH Tunnel to serverhostname
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User=localuser
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -i /home/clientusername/.ssh/reverse.clientusername.serverhostname -R serverport:localhost:22 serverusername@serveraddress

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target

